@media (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .video-principal{
        width: 380px;
    }

    .informations{
        width: 380px;
    }

    .main {
        width: 490px;
    }

    .aside {
        width: 100%;
        margin-left: 0;
    }

    .aside .videos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        margin-left: 35px;
    }

    .aside .propaganda {
        top: 25px;
        left: 170px;
        font-size: 9px;
    }
}
